{% extends 'base/base.html' %}
<!-- Titulo de la pagina -->

{%block title%} 
{%if usuario %}
Modificar Vendedor
{%else%}
Crear Vendedor
{%endif%}
{%endblock%}




<!-- Contenido -->
{%block titulo_seccion%} 

{%if usuario %}
Modificar Vendedor
{%else%}
Crear Vendedor
{%endif%}

{%endblock%}

{%block contenido%}
{% if messages %}

{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>

{% endfor %}

{% endif %}

{% if form.errors %}
{% for field in form %}
{% if field.errors %}
{% for error in field.errors %}
<div class="alert alert-danger" role="alert">
    {{ error|escape }}
</div>
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
<div class="col-md-6 mx-auto formsentel">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" name="nombre" placeholder="Nombre" required value="{{usuario.nombre}}">
            </div>
        </div>
        <div class="form-group">
            <label for="apellido_paterno">Apellido Paterno</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" name="apellido_paterno" value="{{usuario.apellido_paterno}}" placeholder="Apellido Paterno" required>
            </div>
        </div>

        <div class="form-group">
            <label for="apellido_materno">Apellido Materno</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" name="apellido_materno" value="{{usuario.apellido_materno}}" placeholder="Apellido Materno" required>
            </div>
        </div>

        <div class="form-group">
                <label for="fecha_nacimiento">Fecha Nacimiento</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                    <input type="date" class="form-control" name="fecha_nacimiento" value="{{usuario.fecha_nacimiento}}" placeholder="" required>
                </div>
            </div>

            <div class="form-group">
                    <label for="correo">Correo</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input type="email" class="form-control" name="correo" placeholder="Correo" value="{{usuario.correo}}" required>
                    </div>
                </div>

                <div class="form-group">
                        <label for="password1">Contraseña</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            </div>
                            <input type="password" class="form-control" name="password1" id="password1" placeholder="Contraseña" required>
                        </div>
                    </div>
                    <div class="form-group">
                            <label for="password2">Confirmar Contraseña</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirmar Contraseña" required>
                            </div>
                        </div>


        <button type="submit" class="btn btn-primary">
            
            
            {%if usuario %}
            Modificar Usuario
            {%else%}
            Crear Usuario
            {%endif%}

        </button>
    </form>
</div>

{%endblock%}

{%block scripts%}
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css"
    rel="stylesheet" />

<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
<script type="text/javascript">
    $(function () {
        $('#date').datetimepicker();
    });
</script>


{%endblock%}