{%load menu%}
<a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action {% active 'dashboard' %}"><i class="fas fa-home"></i><span> Inicio</span></a>
<div class="categoria">
    <span>Usuarios</span>
</div>
<a href="{% url 'crear usuario' %}" class="list-group-item list-group-item-action {% active 'crear usuario' %}"><i class="fas fa-user-plus"></i><span> Crear Vendedor</span></a>
<a href="{% url 'listar usuario' %}" class="list-group-item list-group-item-action {% active 'listar usuario' %}"><i class="fas fa-table"></i><span> Listar Usuarios</span></a>
<div class="categoria">
    <span>Productos</span>
</div>
<a href="{% url 'crear producto' %}" class="list-group-item list-group-item-action {% active 'crear producto' %}"><i class="fas fa-plus"></i><span> Agregar Producto</span></a>
<a href="{% url 'listar producto' %}" class="list-group-item list-group-item-action {% active 'listar producto' %}"><i class="fas fa-table"></i><span> Listar Producto</span></a>
<div class="categoria">
        <span>Tienda</span>
    </div>
    <a href="{% url 'listar venta' %}" class="list-group-item list-group-item-action {% active 'listar venta' %}"><i class="fas fa-table"></i><span> Listar Ventas</span></a>