{% extends 'base/base.html' %}
<!-- Titulo de la pagina -->

{%block title%} 
{%if producto %}
Modificar Producto
{%else%}
Crear Producto
{%endif%}
{%endblock%}




<!-- Contenido -->
{%block titulo_seccion%} 

{%if producto %}
Modificar Producto
{%else%}
Crear Producto
{%endif%}

{%endblock%}

{%block contenido%}
{% if messages %}

{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>

{% endfor %}

{% endif %}

{% if form.errors %}
{% for field in form %}
{% if field.errors %}
{% for error in field.errors %}
<div class="alert alert-danger" role="alert">
    {{ error|escape }}
</div>
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
<div class="col-md-6 mx-auto formsentel">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="nombre_producto">Nombre Producto</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-pencil-alt"></i></span>
                </div>
                <input type="text" class="form-control" name="nombre_producto" placeholder="Nombre Producto" required value="{{producto.nombre_producto}}">
            </div>
        </div>

        <div class="form-group">
            <label for="precio">Precio</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                </div>
                <input type="number" class="form-control" name="precio" value="{{producto.precio}}" placeholder="Precio" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">
            
            
            {%if producto %}
            Modificar Producto
            {%else%}
            Crear Producto
            {%endif%}

        </button>
    </form>
</div>

{%endblock%}

{%block scripts%}
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css"
    rel="stylesheet" />

<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
<script type="text/javascript">
    $(function () {
        $('#date').datetimepicker();
    });
</script>


{%endblock%}